
<html ng-app="app">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Reconciliation </title>
    <link rel='shortcut icon' href='~/favicon.ico' type='image/x-icon' />
    @Styles.Render("~/Content/css")
    <base href="/" />
    <meta name="runningPath" content="@ViewBag.Version">
</head>
<body>
    <div id="main">
        <nav class="navbar navbar-inverse navbar-fixed-top">
            <div class="container-fluid">
                <div class="navbar-header">
                    <a class="navbar-brand" href="~/">Flights</a>
                </div>
            </div>

        </nav>
        <div class="content container-fluid">
            <div class="col-md-12" id="container-main">
                <div ng-view ng-cloak></div>
                <div class="row" ng-controller="FlightSearchController">
                    <div class="col-md-4">
                        <div class="panel panel-default">
                            <div class="panel-heading">
                                Search Flights
                            </div>
                            <div class="panel-body">
                                
                                <form class="form-inline">
                                    <label class="" for="email">From:</label>
                                    <div class="form-group">
                                        <input type="email" class="form-control" id="email">
                                    </div>
                                    <label class="" for="email">To:</label>

                                    <div class="form-group">
                                        <input type="password" class="form-control" id="pwd">
                                    </div>
                                    <div class="form-group">
                                        <button class="btn btn-default">hi</button>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                    
                </div>
                <hr />
                <div>hi</div>
                <div ng-controller="GridController">
                    <div>
                        <div class="row"><div class="col-md-6">table goes here {{test}}</div></div>
                        <div class="row">
                            <div class="col-md-12">
                                <div id="flightsGrid"
                                     ui-grid-selection
                                     ui-grid-resize-columns
                                     class="grid-content"
                                     ui-grid="gridOptions">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    @Scripts.Render("~/bundles/other")
    @Scripts.Render("~/bundles/bootstrap")
    @Scripts.Render("~/bundles/application")
</body>
</html>