
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Search Flights </title>
    @Styles.Render("~/Content/css")
    <base href="/" />
    <meta name="runningPath" content="@ViewBag.Version">
    <link rel="manifest" href="%PUBLIC_URL%/manifest.json">
    <link rel="shortcut icon" href="%PUBLIC_URL%/favicon.ico">
</head>
<body>

    <noscript>
        You need to enable JavaScript to run this app.
    </noscript>
    <div id="root"></div>

    @Scripts.Render("~/bundles/other")
    @Scripts.Render("~/bundles/bootstrap")
    @Scripts.Render("~/bundles/application")
</body>
</html>